# Add the Firebase SDK for Python
firebase-functions
firebase-admin
# Use the 'bitcoinlib' library for a high-level interface to bitcoin transactions
bitcoinlib
# Keep dotenv for local testing with .env files
python-dotenv
setuptools
bitcoinlib
pycryptodome
